<div class="component-holder ng-binding ng-scope selected-holder" data-component="crn-navbar" id="crn-navbar-193031"><nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="display: none;">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home/logged/home">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown component-holder">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="">Cadastro 1</span> <span class="caret"></span></a>
          <ul class="dropdown-menu" style="display: none;">
            <li><a href="#/home/logged/pessoa" class="component-holder">Pessoa</a></li>
          </ul>
        </li>
      <li class="dropdown component-holder" data-component="crn-menu-item"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="">Cadastro 2</span> <span class="caret"></span></a> <ul class="dropdown-menu" style="display: none;">   <li><a href="#/home/logged/cidade" class="component-holder" data-component="crn-anchor">Cidade</a></li> </ul></li></ul>
    </div>
  </div>
</nav></div><div class="component-holder ng-binding ng-scope" data-component="crn-text" id="crn-text-638004"><p class="text-left">Isso aqui é um teste</p></div><div class="component-holder ng-binding ng-scope" data-component="crn-anchor" id="crn-anchor-836836"><a href="#/home/logged/home" class="" target="_self" onclick="">Link</a></div>