<div class="component-holder ng-binding ng-scope selected-holder" data-component="crn-navbar" id="crn-navbar-454320"><nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home/logged/cidade">Teste</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown component-holder">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="">Cadastro 1</span> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" class="component-holder">Action Item</a></li>
          </ul>
        </li>
      <li class="dropdown component-holder open" data-component="crn-menu-item"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="">Cadastro 2</span> <span class="caret"></span></a> <ul class="dropdown-menu">   <li><a href="#/home/logged/cidade" class="component-holder" data-component="crn-anchor">Cidade</a></li> </ul></li></ul>
    </div>
  </div>
</nav></div>